.wholeContainer{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catContainer{
    position: relative;
    /* margin: 0 auto; */
    border: 1px solid black;
    height: 700px;
    width: 382px;
}

.prevButtons, .nextButtons {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button{ 
    background-color: transparent;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
    font-size: 0px;
    opacity: 0.7;
}

.prevButtons > button {
    background-image: url(./back.png);
}

.nextButtons > button {
    background-image: url(./forward.png);
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 1;
}

button:focus{
    outline: none;
}



.hats{
    z-index: 3;
    position: absolute;
    display: none;
}

.faces{
    position: absolute;
    z-index: 2;
    display: none;
}

.outfits{
    position: absolute;
    z-index: 1;
    display: none;
}

.catModel{
    position: absolute;
    z-index: 0;
}

.bgs{
    position: absolute;
    z-index: -1;
    display: none;
}

.defaultbg{
    position: absolute;
    z-index: -2;
}